# 忽略 Visual Studio 和编译中间文件。
*.obj
*.log
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.tlog/
*.lastbuildstate
*.exe.recipe
*.vcxproj.FileListAbsolute.txt

# 忽略 Debug 和 Release 目录下的生成内容。
x64/Debug/
x64/Release/
Survivor\ of\ Teyvat/Debug/
Survivor\ of\ Teyvat/Release/
Survivor\ of\ Teyvat/x64/Debug/
Survivor\ of\ Teyvat/x64/Release/
Survivor\ of\ Teyvat/Survivor.*/
Survivor-of-Teyvat_Setup/Debug/

# 忽略 Visual Studio 项目缓存和用户本地设置。
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.cache
*.ncb
*.sdf
*.opensdf
*.ipch
*.aps
*.VC.VC.opendb

# 本地参考资料不进入仓库。
references/
